@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#content {
  transition-property: opacity, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

@layer utilities {

  .page-transition {
    opacity: 0;
    transform: translteY(40px);
    filter: blur(12px);
  }

  .hover-text-glow:hover {
    animation: pulse 1s infinite;
    text-decoration:underline;
  }

  @keyframes pulse{
    /* red pulsing animation */
    0% { transform: scale(1); }
    50% { transform: scale(1); color: #e61c39; }
    100% { transform: scale(1); color: white; }
  }

  .fade-in {
    animation: fadeIn 0.5s forwards;
  }

  .fade-out {
    animation: fadeOut 0.5s forwards;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

}
