body {
    margin: 0;
    padding: 0;
    background-color: #22092C;
    color: white;
    font-family: 'lato', sans-serif;
    font-size: 20px;
}

#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

/* flickering underscore effect */
@keyframes flicker {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.flickering-underscore {
    display: inline-block;
    animation: flicker 0.8s infinite; /* Adjust the duration as needed */
}

.my-name{
    color: #e61c39;
    font-weight: bold;
}

/* responsive menu for small displays */
#menu{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    text-align: center;
}

#menu a{
    /* font-size: 20px; */
    padding: 5px;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    position: relative;
}

@media (min-width: 576px) {
    /* responsive design for anything above 576px */
    #menu {
      display: block;
      font-size: 20px;
    }

    /* show animation when hovering */
    #menu a:hover::after {
        opacity: 1;
    }
    
    /* arrow animation for hovering menu item */
    #menu a::after {
        content: '▼'; /* Unicode arrow character */
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }
}

@keyframes pulse{
    /* red pulsing animation */
    0% { transform: scale(1); }
    50% { transform: scale(1); color: #e61c39; }
    100% { transform: scale(1); color: white; }
}

#menu a:hover{
    /* show pulsing animation when hovering */
    animation: pulse 1s infinite;
}

/* about section */
#about-me{
    height: 100vh;
}

#about-me-box{
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    padding: 35% 10% 0% 10%;
    word-wrap: break-word; /* breaking word if too long for the div */
}

#about-me-box h1{
    font-size: 30px;
    font-weight: bold;
    color: #e61c39;
}

.image-box{
    padding-top: 25%;
    position: relative;
}

.about-images{
    border-radius: 30px;
    width: auto;
    height: 500px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.car-img{
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.shoes-img{
    position: absolute;
    opacity: 50%;
    left: 27%;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
}

.shoes-img:hover{
    opacity: 100%;
    z-index: 2;
}

#projects{
    height: 100vh;
}